# Webots controller builds
**/controllers/*/build/
**/controllers/*/build/**

# Node / frontend
node_modules/
frontend/node_modules/
frontend/dist/

# OS / editor
.DS_Store
*.swp
*.swo

# Environment / secrets
.env
llm_agent/.env


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
